.App {
  text-align: center;
  background-color:floralwhite;
  height: 100vh;
  padding:64px;
  display: flex;
  flex-direction: column;
  background-size: cover;
  align-items: center
}

.Modal {
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    width: 450px;
    height: 700px;
    background-color: white;
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    display: grid;
    align-items: center;
    justify-items: center;
    padding:64px
}

.Button {
    background-color: #04AA6D;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
}

.Disabled {
    background-color: gray;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
}

.Form {
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 'a b'
    'c d'
    'e e';
    gap:2rem
}

.hiddenInput {
    position: absolute;
    opacity: 0;
    pointer-events: none;
    display: none;
}

input[type=text],input[type=email],input[type=phone],input[type=datetime-local] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

@media only screen and (max-width: 768px) {
    .Modal { width: 100%;height: 100%;padding:0px;border-radius: 0; }
    .Form {gap:2rem;margin: 8px;}
}













